name: Deploy da Production

on:
  push:
    branches:
      - production
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - run: npm ci
      - run: npm run deploy:production

  job-tag:
    name: job-tag
    runs-on: ubuntu-latest
    steps:
      - name: GitHub Tag Name example
        run: |
          echo "BRANCH PRODUCTION Tag name from GITHUB_REF_NAME: $GITHUB_REF_NAME"
          echo "BRANCH PRODUCTION Tag name from github.ref_name: ${{  github.ref_name }}"
